 
 
<!DOCTYPE html>
<html>
<head>
    <title>Liste Sous Rubrique</title>
      <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/show.css') }}"/> 

</head>

<body>
    <div style="padding: 120px 50px 0 10px;">
<h2>Les sous rubriques</h2>
<center >
<table class="bordered" >
    <thead>

    <tr>
        <th>#</th>              
        <th>Position</th>
        <th>State</th>
        <th>Title</th>
         <th>Rubrique associé</th>

    </tr>
    </thead>
   
       {% for sousrubrique in sousrubrique %}
     <tr>
        <th>{{ sousrubrique.id }}</th> 
      
         <td>{{ sousrubrique.position}}</td>
         <td>{{ sousrubrique.state}}</td>
         <td>{{ sousrubrique.title}}</td>
         
          <td>{{ sousrubrique.rubrique.id}}</td>
          
        <td><a href="{{ path('my_app_esprit_sousrubrique_delete',{'id':sousrubrique.id}) }}">  <img src="{{ asset('bundles/myappesprit/images/delete.png') }}" alt="" />  </a></td>
        <td><a href="{{ path('my_app_esprit_sousrubrique_edit',{'id':sousrubrique.id}) }}">  <img src="{{ asset('bundles/myappesprit/images/update.png') }}" alt="" />  </a></td>

        {% endfor %}
    </tr>        
    
 

</table>
    <h2><a href="{{ path('my_app_esprit_sousrubrique_new') }}">ajouter sous rubrique</a></h2>
</center>
    </div>

</body>
</html>
 
   