 
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
<title>Forms</title>
 
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/style.css') }}"/> 
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('http://fonts.googleapis.com/css?family=Engagement') }}"/> 
 
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.uniform.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      $(function(){
        $("input:checkbox, input:radio, input:file, select").uniform();
      });
    </script>
</head>
<body>
<article>
    <div style="padding: 80px 50px 0 10px;">
<h1>Nouveau Role</h1>
<form role="form" method="post" action='{{path('my_app_esprit_role_new')}}'>
	<ul>
        <li>
        	<label for="name">Permission:</label>
                  {{form_widget(form.permission)}}
        </li>
      
        <li>	  <input type="hidden" name="name" value="submit">
                        {{form_widget(form._token)}}
         
                       {{form_widget(form)}}
       </li>
	</ul>
    <p>
        <button type="submit" class="action">Submit</button>
        <button type="reset" class="right">Reset</button>
    </p>
</form>
    </div>
</article>
<footer>
<p> </p>
</footer>
















 