
 
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" /> 
    <title>Liste roles</title>
      <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/show.css') }}"/> 

</head>

<body>
    <div style="padding: 120px 50px 0 10px;">
<h2>Les roles</h2>
<center >
<table class="bordered" >
    <thead>

    <tr>
        <th>#</th>              
        <th>Permission</th>
        <th>Utilisateur associé</th>
    </tr>
    </thead>
   
       {% for role in role %}
     <tr>
         <th>{{ role.id }}</th> 
        
         
          {% if role.permission == 1 %}
          <td><b>access</b></td>
          {%  else    %}
          <td><b>denied</b></td>
          {% endif  %}
        
         
         
         
         
         
         
          <td><b>No  </b>{{ role.utilisateur.id}}</td>
        
        <td><a href="{{ path('my_app_esprit_role_delete',{'id':role.id}) }}">  <img src="{{ asset('bundles/myappesprit/images/delete.png') }}" alt="" />  </a></td>
        <td><a href="{{ path('my_app_esprit_role_edit',{'id':role.id}) }}">  <img src="{{ asset('bundles/myappesprit/images/update.png') }}" alt="" />  </a></td>

        {% endfor %}
    </tr>        
    
 

</table>
    <h2><a href="{{ path('my_app_esprit_role_new') }}">ajouter role</a></h2>
</center>
    </div>

</body>
</html>
 
   