
<!DOCTYPE html>
<html>
<head>
    <title>Liste Rubrique</title>
     <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/show.css') }}"/> 
</head>

<body>
    <div style="padding: 120px 50px 0 10px;">
<h2>Les rubriques</h2>
<center >
<table class="bordered" >
    <thead>

    <tr>
        <th>#</th>              
        <th>Position</th>
        <th>State</th>
        <th>Title</th>
           <th>Menu associé</th>

    </tr>
    </thead>
   
       {% for rubrique in rubrique %}
     <tr>
        <th>{{ rubrique.id }}</th> 
      
        <td>{{ rubrique.position}}</td>
         <td>{{ rubrique.state}}</td>
           <td>{{ rubrique.title}}</td>
            <td>{{ rubrique.menu.id}}</td>

        <td><a href="{{ path('my_app_esprit_rubrique_delete',{'id':rubrique.id}) }}">  <img src="{{ asset('bundles/myappesprit/images/delete.png') }}" alt="" />  </a></td>
        <td><a href="{{ path('my_app_esprit_rubrique_edit',{'id':rubrique.id}) }}">  <img src="{{ asset('bundles/myappesprit/images/update.png') }}" alt="" />  </a></td>

        {% endfor %}
    </tr>        
    
 

</table>
    <h2><a href="{{ path('my_app_esprit_rubrique_new') }}">ajouter rubrique</a></h2>
</center>
    </div>

</body>
</html>
 
   