
 
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" /> 
    <title>Liste Menus</title>
      <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/show.css') }}"/> 

</head>

<body>
<div style="padding: 120px 50px 0 10px;">
<h2>Les menus</h2>
<div style="height: 170px;  width: 800px;overflow: auto; padding: 20px -40px 0 -10px;">
<center >
<table class="bordered" >
    <thead>

    <tr>
        <th>#</th>        
        <th>Title</th>
        <th>Position</th>
        <th>Utilisateur associé</th>
    </tr>
    </thead>
   
       {% for menu in menu %}
     <tr>
        <th>{{ menu.id }}</th> 
        <td>{{ menu.title }}</td>
        <td>{{ menu.position }}</td>
        
           <td>{{ menu.utilisateur.id}}</td>
 
{# On vérifie qu'une image est bien associée à l'article #}
{#% if menu.utilisateur.id  is not null %}
 <td>{#{ menu.utilisateur.id}}</td>
{#% endif %#} 
 
        
        <td><a href="{{ path('my_app_esprit_menu_delete',{'id':menu.id}) }}">  <img src="{{ asset('bundles/myappesprit/images/delete.png') }}" alt="" />  </a></td>
        <td><a href="{{ path('my_app_esprit_menu_edit',{'id':menu.id}) }}">  <img src="{{ asset('bundles/myappesprit/images/update.png') }}" alt="" />  </a></td>

        {% endfor %}
    </tr>        
    
 

</table></div>
    <h2><a href="{{ path('my_app_esprit_menu_new') }}">ajouter menu</a></h2>
</center>
    </div>

</body>
</html>
 
   