{% extends 'MyAppEspritBundle::layout.html.twig' %}

 

{% block content %}
          
{% include 'MyAppEspritBundle:Article:lister.html.twig' with {'article' : article}  %}
{% include 'MyAppEspritBundle:Article:lister.html.twig' with {'rubrique' : rubrique}  %}
 {% include 'MyAppEspritBundle:Article:lister.html.twig' with {'actualite' : actualite}  %}
{% include 'MyAppEspritBundle:Article:lister.html.twig' with {'sousrubrique' : sousrubrique}  %}
{% include 'MyAppEspritBundle:Article:lister.html.twig' with {'menu' : menu}  %}
{% include 'MyAppEspritBundle:Article:lister.html.twig' with {'role' : role}  %}
 
{% endblock %}

 {% block menu_gauche  %} 
             
 {% for rubrique in rubrique  %} {% if rubrique.menu.position == 2 %}
                <li class="item1"><a href="#"> {{  rubrique.title }} <span>R</span></a>                     
			 <ul>                 
               {% for sousrubrique in sousrubrique %}
                         {# on affiche seulement les sous rubriques associés#}
                    {% if sousrubrique.rubrique.id == rubrique.id %}     
 <li class="subitem1"><a href="#">{{sousrubrique.title }} <span>S</span></a></li> 
                    {% endif %}         
               {%endfor%} 
               {% for  article in  article %} 
                             {# on affiche seulement les articles associés#}
                      {% if article.rubrique.id == rubrique.id %} 
  <li class="subitem1">
      <a href="{{ path('my_app_esprit_article_voir',{'id':article.id}) }}">
                        {{article.nom }}  
      <span>A</span></a>
  </li>
                      {% endif %}  
               {%endfor%}  
			</ul>                   
		</li>                
                             {% endif %}  
            {%endfor%}
                          
{% endblock %}
 {% block menu_haut  %} 

{% for rubrique in rubrique  %} {% if rubrique.menu.position == 1 %}


        <li class="slide p1"><a href="#url">{{  rubrique.title }} </a><div><b></b>
		<dl>
                 {% for sousrubrique in sousrubrique %}
                         {# on affiche seulement les sous rubriques associés#}
                 {% if sousrubrique.rubrique.id == rubrique.id %} 
		<dt>Sous Rubrique</dt>
		<dd><a href="url">{{sousrubrique.title }}</a></dd>
		</dl>
                {% endif %}         
               {%endfor%} 
                 {% for  article in  article %} 
                             {# on affiche seulement les articles associés#}
                 {% if article.rubrique.id == rubrique.id %} 
                
		<dl>
		<dt>Article</dt>
		<dd><a href="{{ path('my_app_esprit_article_voir',{'id':article.id}) }}">{{article.nom }}</a></dd>
		</dl>
		 {% endif %}  
               {%endfor%}  
		 
	</li>	 

                     {% endif %}  
            {%endfor%}
                          
{% endblock %}
        
        
         {% block menu_droite  %}

 {% for menu in menu  %}
        
         <li class="bg_list_un"><a href="#">{{ menu.title }} </a></li>
					 
        
{%endfor%}

           {% endblock %}