 
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" /> 
 <title>Liste articles</title>
 <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/show.css') }}"/> 
</head>

<body>
    <div style="padding: 120px 50px 0 10px;">
<h2>Les articles</h2>
<center >
<table class="bordered" >
<thead>

    <tr>
        <th>#</th>        
        <th>Texte</th>
        <th>Nom</th>
        <th>Date</th>
       
         <th>Rubrique associé</th>
      <!--   <th>Sous Rubrique associé</th>  -->
        <th>Role associé</th>
         <th>Image</th>
    </tr>
    
</thead>
   
       {% for article in article %}
     <tr>
         <th>{{ article.id }}</th> 
         <td>{{ article.texte }}</td>
         <td>{{ article.nom }}</td>
      <!--  <td>article.date</td>  -->
         <td>   {{ article.date|date('d/m/Y')}}         </td>
         
        

          <td>No  {{article.rubrique.id}}</td>
       <!--    <td>No  {#{#article.sousrubrique.id}#}</td>  -->
         
         
          {% if article.role.id == 1 %}
          <td><b>access</b></td>
          {%  else    %}
          <td><b>denied</b></td>
            {% endif  %}
          
          
             
        
       {% if article.image is  not  null %}
        <td><img src="{{ article.image }}" alt="" width="100" height="100" class="img-border"></td>
       {% endif %}
        
        {#si je mets pas d image dans la BD une autre s'affiche #} 
        {% if article.image is   null %}
         <td> <img src="http://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" alt="{{ article.image }}"alt="" width="100" height="100" class="img-border" /></td>
        {% endif %}
         
         
         
         
        <td><a href="{{ path('my_app_esprit_article_delete',{'id':article.id}) }}">  <img src="{{ asset('bundles/myappesprit/images/delete.png') }}" alt="" />  </a></td>
        <td><a href="{{ path('my_app_esprit_article_edit',{'id':article.id}) }}">  <img src="{{ asset('bundles/myappesprit/images/update.png') }}" alt="" />  </a></td>

        {% endfor %}
    </tr>        
    
 

</table>
    <h2><a href="{{ path('my_app_esprit_article_new') }}">ajouter article</a></h2>
</center>
    </div>

</body>
</html>
 